conda.enabled = true

params {
    input_path_csv = null
	common_input_path = null
	output_path = null
    
    shading_estimation_strategy = "timewise"
    shading_estimation_median_robust = "False" // or "True"
    shading_estimation_median_filter_size = 3
    shading_estimation_gaussian_filter_size = 40

    shading_correction_mode = "additive"
    shading_correction_local_subtraction_channels = "*DIA*"
    shading_correction_local_subtraction_scaling = 0.1
    shading_correction_local_subtraction_median_disk_size = 4
}